* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

h1 {
  text-align: center;
}

.body2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.encadre {
  width: auto;
  height: 500px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
}

.img-left {
  float: left;
  width: 400px;
  height: 500px;
  border: 2px solid black;
}

.img-right {
  float: right;
  width: 400px;
  height: 500px;
  border: 2px solid black;
}

.p-right {
	margin-left: 450px;
	padding: 15px;
	font-size: 20px;
	color: white;
	height: 94%;
	border: 2px solid black; 
	background: rgba(0,0,0, 0.5)
}

.p-left {
	margin-right: 450px;
	padding: 15px;
	font-size: 20px;
	color: white;
	height: 94%;
	border: 2px solid black; 
	background: rgba(0,0,0, 0.5)
}

/* BUTTONS */

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.btn-1 {
  border-radius: 3px;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: green;
  font-size: 20px;
  transition: ease-out 0.3s;
  outline: none;
}

.btn-1:hover {
  box-shadow: inset 100px 0 0 0 darkGreen;
  cursor: pointer;
  color: yellow;
}

/* Second button */

.btn-2 {
  border-radius: 3px;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: green;
  font-size: 20px;
  transition: ease-out 0.3s;
  outline: none;
}

.btn-2:hover {
  box-shadow: inset 100px 0 0 0 darkGreen;
  cursor: pointer;
  color: yellow;
}

/* Third button */

.btn-3 {
  border-radius: 3px;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: green;
  font-size: 20px;
  transition: ease-out 0.3s;
  outline: none;
}

.btn-3:hover {
  box-shadow: inset 100px 0 0 0 darkGreen;
  cursor: pointer;
  color: yellow;
}

/* Fourth button */

.btn-4 {
  border-radius: 3px;
  width: 130px;
  height: 50px;
  border: none;
  color: white;
  background-color: green;
  font-size: 20px;
  transition: ease-out 0.3s;
  outline: none;
}

.btn-4:hover {
  box-shadow: inset 130px 0 0 0 darkGreen;
  cursor: pointer;
  color: yellow;
}
/* Fifth button */

.btn-page-acceuil {
  position: relative;
  left: 2.5px;
  top: 10px;
  border-radius: 3px;
  width: 130px;
  height: 50px;
  border: none;
  color: white;
  background-color: green;
  font-size: 20px;
  transition: ease-out 0.3s;
  outline: none;
}

.btn-page-acceuil:hover {
  box-shadow: inset 130px 0 0 0 darkGreen;
  cursor: pointer;
  color: yellow;
}
